<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Modificar Proyecto</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Tipo de proyecto: </label>
            <input type="text" class="form-control" id="tipo" [(ngModel)]="proyecto.tipo"
                name="tipo">
        </div>
        <div class="form-group">
            <label>Nombre del proyecto: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="proyecto.nombre"
                name="nombre">
        </div>
        <div class="form-group">
            <label>Descripción: </label>
            <input type="text" class="form-control" id="descripcion" [(ngModel)]="proyecto.descripcion"
                name="descripcion">
        </div>
        <div class="form-group">
            <label>Tecnologías utilizadas: </label>
            <input type="text" class="form-control" id="tecnologias" [(ngModel)]="proyecto.tecnologias"
                name="tecnologias">
        </div>
        <div class="form-group">
            <label>Link a GitHub: </label>
            <input type="text" class="form-control" id="github_link" [(ngModel)]="proyecto.github_link"
                name="github_link">
        </div>
        <div class="row">
            <div class="col d-flex justify-content-start">
                <button class="btn btn-success mt-2">Modificar proyecto</button>
            </div>
            <div class="col d-flex justify-content-end">
                <button class="btn btn-danger mt-2" (click)="volverPortfolio()">Volver</button>
            </div>
        </div>
    </form>
</div>

