<app-menu></app-menu>
<div id="login">
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesion.</h2>
  </div>
  <ng-template #loggedOut>
    <section class="vh-500 gradient-custom">
      <div class="container py-5 h-500">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5"> Ingrese su usuario y contraseña</p>
                  <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>

                    <div class="form-outline form-white mb-4">
                      <input class="form-control form-control-lg" type="text" placeholder="Nombre"
                        name="nombre" id="nombre" [(ngModel)]="nombre" required="">
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input class="form-control form-control-lg" type="text" placeholder="Nombre de usuario"
                        name="nombreUsuario" id="nombreUsuario" [(ngModel)]="nombreUsuario" required="">
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input class="form-control form-control-lg" type="email" placeholder="email"
                        name="email" id="email" [(ngModel)]="email" required="">
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input class="form-control form-control-lg" type="password" placeholder="Contraseña"
                        name="password" id="password" [(ngModel)]="password" required="">
                    </div>

                    <button class="btn btn-outline-light btn-lg px-5" [disabled]="!f.valid">
                      <i class="fas fa-sign-in-alt"></i>
                      CREAR CUENTA
                    </button>
                  </form>
      
                </div>
                <div>
                  <a class="nav-link" routerLink="/login">VOLVER AL LOGIN</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
</div>