  <!-- Proyectos -->
  <section id="skills" class="mt-2 mb-2">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="row align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center titulo">
          <small>Proyectos</small>
          <h3>Programación</h3>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-light">Agregar Proyecto<i class="fa-solid fa-circle-plus fa-lg ms-2"></i></button>
        </div>
      </div>
        <div class="card mb-2" *ngFor="let proyectos of proyecto">
          <div class="card-header">
            {{proyectos.tipo}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{proyectos.nombre}}</h5>
            <p class="card-text">{{proyectos.descripcion}}</p>
            <p class="card-text"><small class="text-muted">{{proyectos.tecnologias}}</small></p>
            <a [href]="proyectos.github_link" class="btn btn-primary  mb-2">Ver en
              GitHub</a>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-dark mb-2"><i class="fa-solid fa-pen-to-square"></i> </button>
            <button type="button" class="btn btn-outline-dark mb-2"><i class="fa-solid fa-trash-can"></i> </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Proyectos -->