  <!-- Proyectos -->
  <section id="skills" class="mt-2 mb-2">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col text-center">
          <small>Proyectos</small>
          <h3>Programación</h3>
        </div>
        <div class="card mb-2">
          <div class="card-header">
            Web Full Stack
          </div>
          <div class="card-body">
            <h5 class="card-title">Portfolio Web Dinámico</h5>
            <p class="card-text">Proyecto final para Argentina Programa Etapa 2 - #YoProgramo</p>
            <p class="card-text"><small class="text-muted">HTML | CSS | Bootstrap | JavaScript | SQL | Java</small></p>
            <a href="https://github.com/sosarodrigox/PortfolioWebDinamico" class="btn btn-primary  mb-2">Ver en
              GitHub</a>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header">
            Web Full Stack
          </div>
          <div class="card-body">
            <h5 class="card-title">Portfolio Web Dinámico</h5>
            <p class="card-text">Proyecto final para Argentina Programa Etapa 2 - #YoProgramo</p>
            <p class="card-text"><small class="text-muted">HTML | CSS | Bootstrap | JavaScript | SQL | Java</small></p>
            <a href="https://github.com/sosarodrigox/PortfolioWebDinamico" class="btn btn-primary  mb-2">Ver en
              GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Proyectos -->