<!-- Educación -->
<section id="educacion" class="mb-2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="row align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center titulo">
          <small>Educación</small>
          <h3>Carreras:</h3>
        </div>
        <div class="col-4 d-flex justify-content-end" *ngIf="isAdmin">
            <button type="button" class="btn btn-outline-light" (click)="crearCarrera()">Agregar Carrera<i class="fa-solid fa-circle-plus fa-lg ms-2"></i></button>
        </div>
      </div>
    </div>
    <div id="lista">
      <ul class="row">
        <li class="col-md-4 mb-3" *ngFor="let edu_carreras of eduCarrera">
          <div class="card text-center h-100">
            <img src={{edu_carreras.img_logo}} class="card-img-top" [alt]="edu_carreras.universidad">
            <div class="card-body">
              <h5 class="card-title">{{edu_carreras.universidad}}</h5>
              <p class="card-text">{{edu_carreras.carrera}}</p>
              <p class="card-text mt-3 mb-3">
                <a [href]="edu_carreras.link_info" type="button" class="btn btn-certificado">Mas información</a>
              </p>
              <p><small class="text-muted"> ({{edu_carreras.fecha_inicio}}</small> -
                <small class="text-muted">{{edu_carreras.fecha_fin}})</small>
              </p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center" *ngIf="isAdmin">
              <button type="button" class="btn btn-outline-dark mb-2" (click)="modificarCarrera(edu_carreras.id_carrera)"><i class="fa-solid fa-pen-to-square"></i> </button>
              <button type="button" class="btn btn-outline-dark mb-2" (click)="borrarCarrera(edu_carreras.id_carrera)"><i class="fa-solid fa-trash-can"></i> </button>
            </div>
          </div>
        </li>
      </ul>
    </div>   
  </div>
</section>
<!-- /Educación -->