  <!-- Educación -->
  <section id="educacion" class="mt-2 mb-2">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col text-center">
          <small>Educación</small>
          <h3>Carreras:</h3>
        </div>
      </div>
      <div class="row">
        <div class="card-group">
          <div class="card text-center">
            <img src="./assets/images/ISPC_logo.png" class="card-img-top" alt="ISPC Logo">
            <div class="card-body">
              <h5 class="card-title">Tecnicatura Superior en Ciencia de Datos e Inteligencia Artificial</h5>
              <p class="card-text mt-3 mb-3">
                <a href="https://ispc.prod.tucampus.org/tecnicatura-datos/" class="btn btn-outline-dark">Mas
                  información</a>
                <button type="button" class="btn btn-certificado">Avance de Carrera</button>
              </p>
              <p class="card-text"><small class="text-muted">2022 - En curso. </small></p>
            </div>
          </div>
          <div class="card text-center">
            <img src="./assets/images/UTN_logo.jpg" class="card-img-top" alt="UTN Logo">
            <div class="card-body">
              <h5 class="card-title">Técnico Universitario en Programación</h5>
              <p class="card-text mt-3 mb-3">
                <a href="https://www.frp.utn.edu.ar/info2/?page_id=6235" class="btn btn-outline-dark">Mas
                  información</a>
                <button type="button" class="btn btn-certificado">Avance de Carrera</button>
              </p>
              <p class="card-text"><small class="text-muted">2020 - En curso - 95% Completado </small></p>
            </div>
          </div>
          <div class="card text-center">
            <img src="./assets/images/UNER_logo.png" class="card-img-top" alt="UNER Logo">
            <div class="card-body">
              <h5 class="card-title">Tecnicatura Universitaria en Gestión y Administración Pública</h5>
              <p class="card-text mt-3 mb-3">
                <a href="http://www.fceco.uner.edu.ar/?page_id=198" class="btn btn-outline-dark">Mas información</a>
                <button type="button" class="btn btn-certificado">Avance de Carrera</button>
              </p>
              <p class="card-text"><small class="text-muted">2018 - 2020 - Completo </small></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Cursos-->
      <div class="row justify-content-md-center">
        <div class="col text-center">
          <small>Educación</small>
          <h3>Cursos:</h3>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-md-center">
        <div class="col">
          <div class="card h-100">
            <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Cursos -->
    </div>
  </section>
  <!-- /Educación -->