<!-- Educación -->
<section id="educacion" class="mt-2 mb-2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col text-center">
        <small>Educación</small>
        <h3>Carreras:</h3>
      </div>
    </div>
    <div id="lista">
      <ul class="row">
        <li class="col-md-4 mb-3" *ngFor="let edu_carreras of educacionList">
          <div class="card text-center" style="height:600px">
            <img [src]="edu_carreras.imgLogo" class="card-img-top" [alt]="edu_carreras.universidad">
            <div class="card-body">
              <h5 class="card-title">{{edu_carreras.universidad}}</h5>
              <p class="card-text">{{edu_carreras.carrera}}</p>
              <p class="card-text mt-3 mb-3">
                <a [href]="edu_carreras.linkMasInfo" type="button" class="btn btn-certificado">Mas información</a>
              </p>
              <p><small class="text-muted"> ({{edu_carreras.fechaInicio}}</small> -
                <small class="text-muted">{{edu_carreras.fechaFin}})</small>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Cursos-->
    <div class="row justify-content-md-center">
      <div class="col text-center">
        <small>Educación</small>
        <h3>Cursos:</h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-md-center">
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/curso.png" class="card-img-top" alt="Imagen curso">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Cursos -->
  </div>
</section>
<!-- /Educación -->