<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Crear Hard Skill</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Hard Skill: </label>
            <input type="text"
            class="form-control"
            id="hardskill"
            [(ngModel)]="skillHard.skill"
            name="hardskill"
            >
        </div>
        <div class="form-group">
            <label>Descripcion: </label>
            <input type="text"
            class="form-control"
            id="descripcion"
            [(ngModel)]="skillHard.descripcion"
            name="descripcion"
            >
        </div>
        <div class="form-group">
            <label>Porcentaje: </label>
            <input type="number"
            class="form-control"
            id="porcentaje"
            [(ngModel)]="skillHard.porcentaje"
            name="porcentaje"
            >
        </div>
        <div>
            <button class="btn btn-success mt-2">Crear Skill Hard</button>
        </div>
    </form>
</div>


