<!-- Hard Skills -->
<section id="skillh" class="mt-2 mb-2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="row align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center titulo">
          <small>Skills</small>
          <h3>Hard Skills</h3>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-light" (click)="crearHardSkill()">Agregar Skill<i class="fa-solid fa-circle-plus fa-lg ms-2"></i></button>
        </div>
      </div>
      <div class="card mb-2" *ngFor="let skill_hard of skillHard">
        <div class="card-body">
          <h5 class="card-title">{{skill_hard.skill}}</h5>
          <p class="card-text">{{skill_hard.descripcion}}</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width.%]="skill_hard.porcentaje"
              [attr.aria-valuenow]="skill_hard.porcentaje" aria-valuemin="0" aria-valuemax="100">
              {{skill_hard.porcentaje}}%</div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-dark mb-2"><i class="fa-solid fa-pen-to-square"></i> </button>
          <button type="button" class="btn btn-outline-dark mb-2"><i class="fa-solid fa-trash-can"></i> </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Problema de property binding resuelto con:-->     
<!--https://stackoverflow.com/questions/40930330/how-to-bind-a-property-to-style-width-in-pixels-->
<!-- https://stackoverflow.com/questions/39161088/cant-bind-to-aria-valuenow-since-it-isnt-a-known-property-of-div -->

<!-- /Hard Skills -->