<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Crear Soft Skill</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Soft Skill: </label>
            <input type="text"
            class="form-control"
            id="softskill"
            [(ngModel)]="skillSoft.skill"
            name="softskill"
            >
        </div>
        <div class="form-group">
            <label>Descripcion: </label>
            <input type="text"
            class="form-control"
            id="descripcion"
            [(ngModel)]="skillSoft.descripcion"
            name="descripcion"
            >
        </div>
        <div class="form-group">
            <label>Porcentaje: </label>
            <input type="number"
            class="form-control"
            id="porcentaje"
            [(ngModel)]="skillSoft.porcentaje"
            name="porcentaje"
            >
        </div>
        <div>
            <button class="btn btn-success mt-2">Crear Skill Soft</button>
        </div>
    </form>
</div>
