  <!--Acerca de mi-->
  <section id="aboutme" class="mt-2 mb-2">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Acerca de mi:
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>{{miPortfolio.resumen.aboutMe_Titulo}}</strong> {{miPortfolio.resumen.aboutMe}}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i> </button>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-trash-can"></i> </button>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Me interesa:
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>{{miPortfolio.resumen.meInteresa_titulo}}</strong> {{miPortfolio.resumen.meInteresa}}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i> </button>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-trash-can"></i> </button>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Hobbies:
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>{{miPortfolio.resumen.hobbies_Titulo}}</strong> {{miPortfolio.resumen.hobbies}}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i> </button>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-trash-can"></i> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Acerca de mi-->